{% extends 'index.html' %}

{% block navbar %}
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="{{url_for('about')}}">About</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('upload')}}">Upload</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Logout</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h3 class="slick-title" style="color: orangered;"><span>About Project</span></h3><br>

    <p class="lead text-white">
        This project aims to classify realistic 12-lead ECG(12 leads is from 12 direction the heart is viewed and took ecg) signal images using advanced deep learning techniques. The primary objective is to identify various heart conditions such as arrhythmias and normal heart patterns by analyzing ECG images. The project employs a hybrid deep learning approach that integrates Convolutional Neural Networks (CNN), MobileNet, DenseNet, and an ensemble model combining MobileNet with Long Short-Term Memory (LSTM) networks. These models are trained on a dataset of labeled ECG images sourced from Kaggle, providing a robust foundation for developing an automated classification system. The goal is to create a high-accuracy model that can assist in the early detection of cardiac abnormalities, thereby enhancing the diagnostic process in cardiology.
    </p><br>
{% endblock %}