<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Cardiac Conduction Simulation: A Hybrid Deep Learning Approach to Classify Realistic ECG Signals</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="/static/css/slick.css"/>

        <link href="/static/css/tooplate-little-fashion.css" rel="stylesheet">
<!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                        <strong>Deep Learning <span>Approach </span>To Classify ECG</strong>
                    </a>


                    <div style="text-align: right;" class="collapse navbar-collapse text-align-right" id="navbarNav">
                        {% block navbar %}
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{url_for('index')}}">Index</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('register')}}">Register</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                                </li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </nav>

            
            <section>   
                <!-- <img src="/static/images/background.jpg" class="img-fluid" alt=""> -->
               
                <!-- <video src="static/images/4170-177682149_small.mp4"style="width: 100%; height: auto;class="img-fluid" autoplay muted loop></video> -->
                <img src="static/images/image.jpg" style="width: 100%; height: auto;" class="img-fluid" alt="Background Image">


                <div class="slick-bottom">
                    <div class="container">
                        <center>
                            {% block content %}
                                <h3 class="slick-title">Hey there,</h3>

                                <p class="lead text-white">
                                    Enhancing Cardiac Care with Hybrid Deep Learning and Realistic ECG Simulation
                                    
                                </p><br>

                                <a style="width: 200px;" href="{{url_for('register')}}" class="btn custom-btn">Register</a>
                                <a style="width: 200px; margin-left: 10px;" href="{{url_for('login')}}" class="btn custom-btn">Login</a>
                            {% endblock %}
                        </center>
                    </div>
                </div>
            </section>

        </main>

        {% if message %}
            <script>
                alert("{{ message }}")        
            </script>
        {% endif %}

        <!-- JAVASCRIPT FILES -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/Headroom.js"></script>
        <script src="/static/js/jQuery.headroom.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/custom.js"></script>

    </body>
</html>
